.main-footer strong a {
color: #6610f2  !important;
}

/* Custom checkbox color */
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #6610f2;
    border-color: #6610f2;
}

/* Custom focus state for checkboxes */
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #6610f2, 0 0 0 0.2rem rgba(102, 16, 242, 0.25);
}

/* Custom checkmark color */
.custom-control-input:checked ~ .custom-control-label::after {
    color: #fff;
}